.sideb{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70px;
    background-color: white;
    margin-top: 60px;
    z-index: 200;
}
.sidebaricons{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebaricons:hover{
    background-color: lightgray;

}
.sidebaricons img{
    height: 24px; 
    margin-bottom: 4px;
}
.sidebaricons div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-display: solid;
}